<div [formGroup]="formGroupParam">
  <mat-form-field>
    <mat-label>{{ config.inputLabelDefinition | translate }}</mat-label>
    <mat-select
      [ngClass]="{'arrow-down': validator.showRemoveIcon(this.formGroupParam, config.inputDefinition)}"
      [formControlName]="config.inputDefinition" [value]="config.preselectedOption"
      [required]="validator.isFieldRequired(this.formGroupParam ,config.inputDefinition)">
      <mat-option (selectionChange)="onValueSelect($event)" *ngFor="let option of config.options | async"
                  [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
    <span mat-button *ngIf="validator.showRemoveIcon(this.formGroupParam ,config.inputDefinition)"
          matSuffix mat-icon-button aria-label="Clear"
          (click)="resetController(config.inputDefinition); onSendDeletion()">
          <mat-icon class="fa mat-icon material-icons mat-icon-no-color ng-star-inserted fa-times"></mat-icon>
        </span>
  </mat-form-field>
  <ng-container
    *ngTemplateOutlet="tooltipTemplate; context: {entry: config.tooltipInfo}">
  </ng-container>
</div>
