<mat-card id="dashboard-card">
  <mat-card-header class="content-centered">
    <h1 align="center">DashBoard</h1>
  </mat-card-header>
  <mat-card-content>
    <div>
      <h2>{{ 'APP.HOME.TITLE' | translate }}</h2>
    </div>
    <div class="card-container ui-g content-centered" >
      <app-simple-card [id]="i" *ngFor="let card of cards; let i = index" [card]="card"
        (onCardClickEmitter)="onCardAction($event, card)"
        (onActionClickEmitter)="onDoNothing($event)"
        (onNavigateClickEmitter)="onDoNothing($event)"></app-simple-card>
    </div>
  </mat-card-content>
</mat-card>
