@import '../../../../global-variables.scss';
@import '../../../../styles/angular-material-router-theme.scss';

.radio-group-label {
  font-weight: bold;
}

.radio-group {
  display: flex;
  margin: 15px 0;
}

.radio-group-column {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px;
}
