<div [formGroup]="formGroupParam">
<label id="radio-group-label" class="radio-group-label">{{ config.label | translate }}</label>
<mat-radio-group #group
  [id]="config.id"
  [class]="orientation()"
  [formControlName]="config.formControlName">
  <mat-radio-button class="radio-button"
                    *ngFor="let item of options; let i = index;"
                    [labelPosition]="config.labelPosition"
                    [color]="color()"
                    [checked]="isChecked(formGroupParam.controls[config.formControlName], item)"
                    [value]="item">
    {{ config.translateOptionContent ? (options[i].toString() | translate) :
    config.fieldToDisplay ? options[i][config.fieldToDisplay] : options[i] }}
  </mat-radio-button>
</mat-radio-group>
</div>
